:css
  .wrapper{
    width: 950px;
    margin: auto;
    overflow: hidden;
    border: 1px solid;
  }
  .wrapper .video{

    float: left;
    margin-right: 20px;

  }

  .wrapper .description{
    margin-top: 30px;
  }

  .wrapper .actions{

    overflow: hidden;

  }

  .wrapper .actions li{

    float: left;
    margin-top: 20px;

  }

  .wrapper .actions li:first-child{


    margin-right: 10px;


  }


.wrapper
  .video-container
    .video
      %img(src="#{@video.large_cover}")

    .description
      %h3.lead= @video.title
      %p= @video.description
    .actions
      %a.btn.btn-primary(href="#{@video.video_url}") Watch Now
      - #obj_path(another_path, more information). It's a way to pass information to the server side
      = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn' unless current_user.queue_video?(@video)
%section.reviews.container
  .row
    .span10.offset1
      = form_for [@video, Review.new ] do |f|

        %fieldset
          %label Rate this video
          = f.select :rating, options_for_video_reviews #this a method located at Module ApplicationHelper so u know lord!

          %label Write Review
          = f.text_area :content, rows: 6, class: "span6"
        %fieldset.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          = link_to 'Cancel', @video
      %header
        %h3 User Reviews ("#{@reviews.count}")
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{review.rating}
                %p
                  by
                  = link_to review.user.full_name, review.user
              .span8
                %p= review.content


